<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>

    </header>
    
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
    
                    <th>Nome</th>
    
                    <th>Profissao</th>
    
    
                    <th>Senha</th>
                </tr>
    
            </thead>
            <tbody>
                <%for(let c = 0 ; c<result.length ; c++){%>
                <tr>
                    <td><%=result[c].id%></td>
                    <td><%=result[c].nome%></td>
                    <td><%=result[c].profissao%></td>
                    <td><%=result[c].senha%></td>
                </tr>
                <%}%>
            </tbody>
    
        </table>
    </main>
</body>

</html>